{% block content %}
{% load static %}
<link href="https://fonts.googleapis.com/css?family=Droid+Serif|Roboto" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/static/quoteapp/style.css"/>
<link rel="stylesheet" type="text/css" href="/static/quoteapp/style2.css"/>
<div class="head">
<div class="logout mleft">
  <form action="/logout/">
    <input type="submit" value="Logout" />
  </form>
</div>
<div class="logout">
  <form action="/all/">
    <input type="submit" value="View Quotes" />
  </form>
</div>
</div>
<div class="login">
  <h1> Quote </h1>
<form method="POST" action="">{% csrf_token %}
{{form}}
<p class="submit"><input type="submit" value="Submit"></input></p>
</form>
</div>
{% if msg %}
<div class="item">
  <div class="quote">
<p> {{msg.quote}} </p></div>
<div class="qname">
<p> {{msg.qname}} </p> </div>
<p>Added<p>
</div>
{%endif%}
{% endblock content%}
