{% block content %}
{% load static %}
<link href="https://fonts.googleapis.com/css?family=Droid+Serif|Roboto" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/static/quoteapp/style.css"/>
<link rel="stylesheet" type="text/css" href="/static/quoteapp/style2.css"/>
<link href="/static/quoteapp/css/bootstrap.min.css" rel="stylesheet" media="screen">
<ul class="nav nav-tabs">
  <li role="presentation"><a href="/all/">All Quotes</a></li>
  <li role="presentation"><a href="/quote/">Add Quotes</a></li>
  <li role="presentation"><a href="/user/">User</a></li>
  <li role="presentation"><a href="/search/">Search</a></li>
  <li role="presentation"><a href="/logout/">Logout</a></li>
</ul>

<div class="login">
  <h1> Quote </h1>
<form method="POST" action="">{% csrf_token %}
{{form}}
<p class="submit"><input type="submit" value="Submit"></input></p>
</form>
</div>
{% if msg %}
<div class="item">
  <div class="quote">
<p> {{msg.quote}} </p></div>
<div class="qname">
<p> {{msg.qname}} </p> </div>
<p>Added<p>
</div>
{%endif%}
{% endblock content%}
