{% block content %}
{% load static %}

<link href="https://fonts.googleapis.com/css?family=Droid+Serif|Roboto" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/static/quoteapp/style2.css" />
<link rel="stylesheet" type="text/css" href="/static/quoteapp/style.css" />
<link href="/static/quoteapp/css/bootstrap.min.css" rel="stylesheet" media="screen">
<ul class="nav nav-tabs">
  <li role="presentation"><a href="/all/">All Quotes</a></li>
  <li role="presentation"><a href="/quote/">Add Quotes</a></li>
  <li role="presentation"><a href="/user/">User</a></li>
  <li role="presentation"><a href="/search/">Search</a></li>
  <li role="presentation"><a href="/logout/">Logout</a></li>
</ul>
<!-- <div class="head">
  <div class="logout">
    <form action="/search/">
      <input type="submit" value="Search" />
    </form>
  </div>
<div class="logout">
  <form action="/logout/">
    <input type="submit" value="Logout" />
  </form>
</div>
<div class="logout">
  <form action="/all/">
    <input type="submit" value="View Quotes" />
  </form>
</div>
<div class="logout">
  <form action="/quote/">
    <input type="submit" value="Add Quote" />
  </form>
</div>
</div>
-->
<form method= "POST" action="">{% csrf_token %}
  {{searchform}}
  {% if searchform != None %}
<p class="submit"><input type="submit"></input></p>
{% endif %}
</form>
{% for x in list1%}
<div class="item">
  <div class="quote">
<p> {{x.quote}} </p></div>
<div class="qname">
<p> {{x.qname}} </p> </div>
</div>
{% endfor %}
{% endblock content%}
